name: Cypress E2E

on:
  repository_dispatch:
    types: [run-cypress]

jobs:
  cypress:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: npm ci

      - name: Run Cypress
        env:
          CYPRESS_baseUrl: ${{ github.event.client_payload.base_url }}
        run: npx cypress run
